@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: 'Merriweather', serif;
  --radius: 0.8rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.8rem;
  --background: oklch(0.9816 0.0085 67.7261);
  --foreground: oklch(0.3550 0.0321 49.0365);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3550 0.0321 49.0365);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3550 0.0321 49.0365);
  --primary: oklch(0.4701 0.0679 48.6775);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9439 0.0111 63.3568);
  --secondary-foreground: oklch(0.4836 0.0271 56.5065);
  --muted: oklch(0.9135 0.0154 54.9173);
  --muted-foreground: oklch(0.5964 0.0219 54.9272);
  --accent: oklch(0.8391 0.1615 84.3763);
  --accent-foreground: oklch(0.3550 0.0321 49.0365);
  --destructive: oklch(0.6045 0.1857 19.1639);
  --border: oklch(0.9005 0.0182 64.9136);
  --input: oklch(0.9636 0.0086 67.7239);
  --ring: oklch(0.6127 0.0492 44.3406);
  --chart-1: oklch(0.4701 0.0679 48.6775);
  --chart-2: oklch(0.8391 0.1615 84.3763);
  --chart-3: oklch(0.6313 0.0555 49.0635);
  --chart-4: oklch(0.7043 0.1561 143.6962);
  --chart-5: oklch(0.7352 0.0774 52.2758);
  --sidebar: oklch(0.9696 0.0086 67.7246);
  --sidebar-foreground: oklch(0.4308 0.0218 53.5572);
  --sidebar-primary: oklch(0.4506 0.0548 46.7936);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8913 0.1139 83.8674);
  --sidebar-accent-foreground: oklch(0.4308 0.0218 53.5572);
  --sidebar-border: oklch(0.9063 0.0241 51.1419);
  --sidebar-ring: oklch(0.8913 0.1139 83.8674);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #7A4F38;
  --shadow-opacity: 0.12;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0.4rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.06);
  --shadow-xs: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.06);
  --shadow-sm: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.12), 0px 1px 2px -1px hsl(20.9091 37.0787% 34.9020% / 0.12);
  --shadow: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.12), 0px 1px 2px -1px hsl(20.9091 37.0787% 34.9020% / 0.12);
  --shadow-md: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.12), 0px 2px 4px -1px hsl(20.9091 37.0787% 34.9020% / 0.12);
  --shadow-lg: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.12), 0px 4px 6px -1px hsl(20.9091 37.0787% 34.9020% / 0.12);
  --shadow-xl: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.12), 0px 8px 10px -1px hsl(20.9091 37.0787% 34.9020% / 0.12);
  --shadow-2xl: 0px 0.4rem 0.8rem 0px hsl(20.9091 37.0787% 34.9020% / 0.30);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2661 0.0178 48.0291);
  --foreground: oklch(0.9113 0.0133 41.1957);
  --card: oklch(0.3160 0.0176 40.9838);
  --card-foreground: oklch(0.9113 0.0133 41.1957);
  --popover: oklch(0.3160 0.0176 40.9838);
  --popover-foreground: oklch(0.9113 0.0133 41.1957);
  --primary: oklch(0.6127 0.0492 44.3406);
  --primary-foreground: oklch(0.1976 0.0115 48.1158);
  --secondary: oklch(0.3857 0.0226 39.2657);
  --secondary-foreground: oklch(0.8046 0.0150 57.5371);
  --muted: oklch(0.3534 0.0198 37.7895);
  --muted-foreground: oklch(0.6895 0.0156 57.4820);
  --accent: oklch(0.8913 0.1139 83.8674);
  --accent-foreground: oklch(0.2661 0.0178 48.0291);
  --destructive: oklch(0.5433 0.1740 29.6967);
  --border: oklch(0.4457 0.0207 50.0995);
  --input: oklch(0.3671 0.0224 35.3674);
  --ring: oklch(0.6127 0.0492 44.3406);
  --chart-1: oklch(0.6127 0.0492 44.3406);
  --chart-2: oklch(0.8391 0.1615 84.3763);
  --chart-3: oklch(0.8017 0.0491 68.0551);
  --chart-4: oklch(0.6615 0.0674 138.7100);
  --chart-5: oklch(0.6741 0.0643 48.2696);
  --sidebar: oklch(0.2540 0.0172 42.9147);
  --sidebar-foreground: oklch(0.9113 0.0133 41.1957);
  --sidebar-primary: oklch(0.4701 0.0679 48.6775);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8287 0.1452 73.5424);
  --sidebar-accent-foreground: oklch(0.2540 0.0172 42.9147);
  --sidebar-border: oklch(0.3857 0.0226 39.2657);
  --sidebar-ring: oklch(0.8287 0.1452 73.5424);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.8rem;
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #1A1613;
  --shadow-opacity: 0.3;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0.4rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.15);
  --shadow-xs: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.15);
  --shadow-sm: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.30), 0px 1px 2px -1px hsl(25.7143 15.5556% 8.8235% / 0.30);
  --shadow: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.30), 0px 1px 2px -1px hsl(25.7143 15.5556% 8.8235% / 0.30);
  --shadow-md: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.30), 0px 2px 4px -1px hsl(25.7143 15.5556% 8.8235% / 0.30);
  --shadow-lg: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.30), 0px 4px 6px -1px hsl(25.7143 15.5556% 8.8235% / 0.30);
  --shadow-xl: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.30), 0px 8px 10px -1px hsl(25.7143 15.5556% 8.8235% / 0.30);
  --shadow-2xl: 0px 0.4rem 0.8rem 0px hsl(25.7143 15.5556% 8.8235% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}